CERT/*
src/Downloads/*
src/logs/*
src/config.env
src/__pycache__

src/web/_dev
src/static/_dev

src/Modules/__pycache__
src/Modules/PRUEBAS.py

src/Databases/__pycache__
src/Databases/toolmysql.py
src/Databases/database.db

test/*
client/*
run.sh


