CERT/*
src/Downloads/*
src/logs/*
src/config.env
src/__pycache__

src/web/_dev
src/static/_dev

src/Modules/__pycache__
src/Modules/PRUEBAS.py
src/Modules/logs/*

src/Databases/__pycache__
src/Databases/toolmysql.py
src/Databases/database.db

test/*
client/*
run.sh


src/static/test/*

src/web/chat/chat1.html
src/web/chat/chat2.html
src/web/chat/chat3.html

src/Databases/blogdb.db
src/Modules/BLOGPG.py
