CERT/*
src/Downloads/*
src/logs/*
src/__pycache__

src/web/*
src/static*

src/Modules/__pycache__
src/Modules/PRUEBAS.py
src/Modules/SENDMAIL.py

src/Databases/__pycache__
src/Databases/toolmysql.py
src/Databases/database.db

test/*
client/*
run.sh


