
{% extends 'layout.html' %}

{% block title %}Descargar Archivos{% endblock %}


{% block content %}

<div style="height:400px" class="page-banner home-banner">
  <div class="container h-100">
    <div class="row align-items-center h-100">
      
      <div class="col-lg-6 py-2 wow fadeInUp">
        <h1 class="mb-4">Descargas</h1>
        <p class="text-lg mb-5">
          Aqui podras ver, descargar y compartir tus archivos con amigos
        </p>
      </div>

    </div>
  </div>
</div>


<main>
  <div class="page-section features">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-13 col-lg-25 py-10">
          <div class="col-lg-11 py-3">
            <h1 class="mb-4">Archivos
              <a href="{{url_for('upload')}}" class="btn btn-outline border text-secondary">Subir archivos</a>
            </h1>
            <div>
              <h4>
                Espacio libre: {{space}}
              </h4>
              
            </div>
          <div class="d-flex flex-row">
            <div>
              
              <ul class="footer-menu">
                {% for archive in files %}
                <li  class="center border">
                
                  <div class="center">           
                    <p class="center"><a href="{{url_for('download')}}?file={{archive[0]}}" class="btn center text-primary">{{archive[0]}} [{{archive[2]}}]</a></p>
                    <div class="center">
                      <a href="{{url_for('delete')}}?del_file={{archive[1]}}" class="btn btn-outline border text-secondary">Borrar</a>
                      <a href="{{url_for('download')}}?f_file={{archive[1]}}" class="btn btn-outline border text-secondary">Descargar</a>
                      <a href="javascript:getlink('{{archive[1]}}');"  class="btn btn-outline border text-secondary ">Compartir</a>
                    </div>
                  </div>

                  
                </li>
                {% endfor %}
              </ul>

            </div>
          </div>


          <div class="col-12 mt-5">
            <nav aria-label="Page Navigation">
                <ul class="pagination justify-content-center">
                    {% if page > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('download', page=page-1) }}" tabindex="-1">Previous</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                    {% endif %}
        
                    {% if page > 1 %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('download', page=page-1) }}">{{ page-1 }}</a></li>
                    {% endif %}
        
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">{{ page }} <span class="sr-only">(current)</span></a>
                    </li>
        
                    {% if page < total_pages %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('download', page=page+1) }}">{{ page+1 }}</a></li>
                    {% endif %}
        
                    {% if page < total_pages %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('download', page=page+1) }}">Next</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-disabled="true">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        
        

        </div>
      </div>
    </div>
  </div>
</main>



<script>//<![CDATA[
  function getlink(e) {
  var aux = document.createElement("input");
  aux.setAttribute("value", window.location.href + '?token=' + e);
  document.body.appendChild(aux);
  aux.select();
  document.execCommand("copy");
  document.body.removeChild(aux);
  alert("URL copiada al portapapeles\n\n" + window.location.href + '?token=' + e);
  }
  //]]></script>

  {% endblock %}