
{% extends 'layout.html' %}

{% block title %}Blog{% endblock %}


{% block content %}

<style>
 .hidden {
   display: none;
 }
</style> 

<div class="container mt-5">
  <div style="height: 320px;" class="page-banner">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-md-6">
        <nav aria-label="Breadcrumb">
          <ul class="breadcrumb justify-content-center py-0 bg-transparent">
            <li class="breadcrumb-item"><a href="{{url_for('index')}}">Inicio</a></li>
            <li class="breadcrumb-item active">Blog</li>
          </ul>
        </nav>
        <h1 class="text-center">Bienvenido a nuestro Blog</h1>
      </div>
    </div>
  </div>
</div>
  <main>
    <div class="page-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 py-3 wow fadeInLeft">
            <h2>Publicar <a href="{{url_for('blogpost')}}" class="btn btn-primary">Nuevo post</a></h2> 
          </div>
          <div  class="col-lg-3 py-3 wow fadeInUp ">
            <button id="removeQueryDiv" class="btn btn-outline-danger hidden" onclick="removeQueryParams()" >Quitar Filtros</button>
          </div>
          <div class="col-lg-4 py-3 fa-align-left wow fadeInRight">
            <form class="form-inline mt-2 mt-md-0">
              <input class="form-control col-lg-8 mr-sm-2" type="text" placeholder="Buscar" aria-label="Buscar" name="search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
          </div>
        </div>
        {% if posts %}
        <div class="row ">
        {% for post in posts %}
          <div class="col-md-6 col-lg-4 py-3 wow fadeInUp">
            <div class="card-blog">
              <div class="header">
                <div href="{{ url_for('blogview', name=post['title']) }}" class="post-avatar">
                  <img src="{{post['image']}}" alt=""onerror="this.onerror=null; this.src='{{url_for('static', filename='blog/default.png')}}'">
                </div>
                <div class="row">
                  <div class="entry-footer col-lg-8">
                    <div class="post-author">Por: {{ post['creat_id'] }}</div>
                    <div class="post-date">visto: {{ post['count_view']}} veces</div>
                  </div>
                  <div class="entry-footer col-lg-4">
                    <a href="{{ url_for('blog', time=post['time'][:10]) }}" class="post-date">{{ post['time'][:10]}}</a>
                  </div>
                </div>
              </div>
              <div class="body">
                <div class="post-title"><a href="{{ url_for('blogview', name=post['title']) }}">{{ post['title'] }}</a></div>
                <div class="post-excerpt">{{ post['descript'] }}</div>
              </div>
              <div class="footer">
                <a href="{{ url_for('blogview', name=post['title']) }}">Leer Mas <span class="mai-chevron-forward text-sm"></span></a>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
        {% else %}
        <div class="text-center wow fadeInUp">
          <div class="subhead">Busqueda no encontrada</div>
          <h2 class="title-section">Al parecer el articulo que buscas no existe :(</h2>
          <div class="divider mx-auto"></div>
        </div>
        {% endif %}

        <div class="col-12 mt-5">
          <nav aria-label="Page Navigation">
              <ul class="pagination justify-content-center">
                  {% if page > 1 %}
                      <li class="page-item">
                          <a class="page-link" href="{{ url_for('blog', page=page-1) }}" tabindex="-1">Anterior</a>
                      </li>
                  {% else %}
                      <li class="page-item disabled">
                          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                      </li>
                  {% endif %}
      
                  {% if page > 1 %}
                      <li class="page-item"><a class="page-link" href="{{ url_for('blog', page=page-1) }}">{{ page-1 }}</a></li>
                  {% endif %}
      
                  <li class="page-item active" aria-current="page">
                      <a class="page-link" href="#">{{ page }} <span class="sr-only">(current)</span></a>
                  </li>
      
                  {% if page < total_pages %}
                      <li class="page-item"><a class="page-link" href="{{ url_for('blog', page=page+1) }}">{{ page+1 }}</a></li>
                  {% endif %}
      
                  {% if page < total_pages %}
                      <li class="page-item">
                          <a class="page-link" href="{{ url_for('blog', page=page+1) }}">Siguiente</a>
                      </li>
                  {% else %}
                      <li class="page-item disabled">
                          <a class="page-link" href="{{url_for('blog')}}" aria-disabled="true">Siguiente</a>
                      </li>
                  {% endif %}
              </ul>
          </nav>
        </div>
      </div>
    </div>
  </main>


<script>
  function removeQueryParams() {
    const url = window.location.origin + window.location.pathname;
    window.location.href =url;
  }
  
  if (window.location.search) {
    document.getElementById('removeQueryDiv').classList.remove('hidden')
  } 
</script>


  {% endblock %}