

{% extends 'auth/layout_auth.html' %}

{% block title %}EmailConfirm{% endblock %}


{% block header %}           
     <a class="btn-outline-sm" href="{{url_for('regist')}}">REGISTRARSE</a>
{% endblock %}


{% block content %}
    <!-- Header -->
    <header id="header" class="ex-2-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Confirmar direccion de correo</h1>
                   <p>¿No tiene un codigo para confimar su correo? de click en <a class="white" href="{{url_for('EmailSend')}}">Enviar correo</a></p>
						  
						  <div>
						    {% if Error %}
						      <p><b>{{Error}} <a class=white href="{{url_for('EmailSend')}}">AQUI</a></b></p>
						      
						    {% endif %}
						  </div>
						  
						  <div>

						    {% if Error2 %}

						     <p><b>{{Error2}}</b></p>
						      
						    {% endif %}
						  </div>
						
				
						
				   
                    <!-- Sign Up Form -->
                    <div class="form-container">
                        <form action="EmailConfirm" method="post" id="log" data-focus="false">
                         
                            <div class="form-group">
                                <input type="text" class="form-control-input" name="code" required>
                                <label class="label-control" for="lemail">Codigo de confirmacion</label>
                                <div class="help-block with-errors"></div>
                            </div>

                            <input type="hidden" id="postId" name="email" value= "{{correo}}" />
                            <div class="form-group">
                                <button type="submit" class="form-control-submit-button">Confirmar codigo</button>
                            </div>
                            <div class="form-message">
                                <div id="lmsgSubmit" class="h3 text-center hidden"></div>
                            </div>
                        </form>
                    </div> <!-- end of form container -->
                    <!-- end of sign up form -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->
{% endblock %}
