<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="google-site-verification" content="0EJz3NQhyR1UmBwAk9_EklAevx8mY5qbRL400HMTqNY" />
  
  <meta name="description" content="xXACRVXx es una web en desarrollo">
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="copyright" content="xXACRVXx">

  <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="the xXACRVXx web" /> <!-- website name -->
	<meta property="og:site" content="xxacrvxx.ydns.eu" /> <!-- website link -->
	<meta property="og:title" content="the xxacrvxx web"/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="pues este es mi sitio web XD el sitio web de xxacrvxx, la verdad no se que poner aqui" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="https://xxacrvxx.ydns.eu/static/img/bg_image_1.png" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="xxacrvxx.ydns.eu" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />

  <meta name="twitter:image:src" content="https://xxacrvxx.ydns.eu/static/img/bg_image_1.png" /><meta name="twitter:site" content="@xXACRVXx" /><meta name="twitter:card" content="summary_large_image" /><meta name="twitter:title" content="En desarrolo XD" /><meta name="twitter:description" content="esta web esta en desarrollo XD" />
  <meta property="og:image" content="https://xxacrvxx.ydns.eu/static/img/bg_image_1.png" /><meta property="og:image:alt" content="xXACRVXx XD web en desarrollo" /><meta property="og:site_name" content="xXACRVXx" /><meta property="og:type" content="object" /><meta property="og:title" content="xXACRVXx XD" /><meta property="og:url" content="https://xxacrvxx.ydns.eu/" /><meta property="og:description" content="xXACRVXx Web good XD" />


  <!-- Website Title -->
  <title>{% block title %}{% endblock %}</title>
    
  <!-- Styles -->
  <link href="{{url_for('static', filename='css/googlefont.css') }}" rel="stylesheet">
  <link href="{{url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
  <link href="{{url_for('static', filename='css/fontawesome-all.css') }}" rel="stylesheet">
  <link href="{{url_for('static', filename='css/swiper.css') }}" rel="stylesheet">
	<link href="{{url_for('static', filename='css/magnific-popup.css') }}" rel="stylesheet">
	<link href="{{url_for('static', filename='css/styles.css') }}" rel="stylesheet" id="theme-link">

  <script>
    document.addEventListener("DOMContentLoaded", function() {
        // Función para obtener el valor de una cookie por su nombre
        function getCookie(name) {
            let value = "; " + document.cookie;
            let parts = value.split("; " + name + "=");
            if (parts.length === 2) return parts.pop().split(";").shift();
        }

        // Función para establecer una cookie
        function setCookie(name, value, days) {
            let expires = "";
            if (days) {
                let date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "") + expires + "; path=/";
        }

        // Verificar el estado de la cookie dark-mode al cargar la página
        let themeLink = document.getElementById('theme-link');
        let darkMode = getCookie('dark-mode');

        if (darkMode === "true") {
            themeLink.setAttribute('href', '/static/css/styles-dark.css');
        } else if (darkMode === undefined) {
            // Si la cookie no existe, crearla con el valor false
            setCookie('dark-mode', 'false', 7); // La cookie durará 7 días
        }

        // Alternar entre temas y actualizar la cookie cuando se hace clic en el botón
        document.getElementById('toggle-style').addEventListener('click', function() {
            if (themeLink.getAttribute('href') === '/static/css/styles-dark.css') {
                themeLink.setAttribute('href', '/static/css/styles.css');
                setCookie('dark-mode', 'false', 7);
            } else {
                themeLink.setAttribute('href', '/static/css/styles-dark.css');
                setCookie('dark-mode', 'true', 7);
            }
        });
    });
  </script>

</head>

<body data-spy="scroll" data-target=".fixed-top">
    
    <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
    

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top top-nav-collapse">
        <div class="container">

            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <!-- Image Logo -->
            <a class="navbar-brand logo-text page-scroll" href="{{url_for('index')}}">xXACRVXx</a>
            
            <!-- Mobile Menu Toggle Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-awesome fas fa-bars"></span>
                <span class="navbar-toggler-awesome fas fa-times"></span>
            </button>
            <!-- end of mobile menu toggle button -->

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">                   
                <ul class="navbar-nav ml-auto">
                    <!-- Dropdown Menu -->          
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle page-scroll" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">MAS</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{url_for('detalles')}}"><span class="item-text">DETALLES</span></a>
                            <div class="dropdown-items-divide-hr"></div>
                            <a class="dropdown-item" href="{{url_for('ter_y_co')}}"><span class="item-text">TÉRMINOS Y CONDICIONES</span></a>
                            <div class="dropdown-items-divide-hr"></div>
                            <a class="dropdown-item" href="{{url_for('privacy')}}"><span class="item-text">POLÍTICA DE PRIVACIDAD</span></a>
                            <div class="dropdown-items-divide-hr"></div>
                            <a class="dropdown-item" href="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sun" viewBox="0 0 16 16">
                            <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"></path>
                            </svg>
                            <spam class="item-text" id="toggle-style">MODO OSCURO</spam>
                            </a>


                            <!--script>
                              // Crear un elemento style con el css deseado
                              var style = document.createElement("style");
                              style.innerHTML = "html, body, body :not(iframe):not(div[style^='position:absolute;top:0;left:-']) { background-color: #181a1b !important; border-color: #776e62 !important; color: #e8e6e3 !important; } html, body { opacity: 1 !important; transition: none !important; }";
                            
                              // Obtener el elemento button y el elemento head
                              var button = document.getElementById("toggle-style");
                              var head = document.getElementsByTagName("head")[0];
                            
                              // Función para obtener el valor de una cookie
                              function getCookie(name) {
                                // Dividir la cadena document.cookie por punto y coma y espacios
                                var cookies = document.cookie.split("; ");
                                // Recorrer las cookies y buscar la que tenga el nombre deseado
                                for (var i = 0; i < cookies.length; i++) {
                                  // Dividir la cookie por el signo igual
                                  var parts = cookies[i].split("=");
                                  // Comprobar si el nombre coincide con el parámetro
                                  if (parts[0] == name) {
                                    // Devolver el valor de la cookie decodificado
                                    return decodeURIComponent(parts['username']);
                                  }
                                }
                                // Si no se encuentra la cookie, devolver false
                                return false;
                              }
                            
                              // Función para verificar si la cookie existe y crearla si no existe
                              function checkCookie() {
                                // Obtener el valor de la cookie
                                var cookieValue = getCookie("dark-mode");
              
                                // Si la cookie no existe, crearla con el valor del tema del sistema
                                if (!cookieValue) {
                                  const prefersDarkMode = window.matchMedia("(prefers-color-scheme: dark)").matches;
                                  document.cookie = `dark-mode=${prefersDarkMode ? "true" : "false"}; path=/`;
                                }
              
                                var cookieValue = getCookie("dark-mode");
              
                                if (cookieValue === "true") {
                                  head.appendChild(style);
                                } else {
                                  head.removeChild(style);
                                }
                              }
                            
                              // Añadir un evento load al elemento body
                              window.addEventListener("load", checkCookie);
                            
                              // Añadir un evento click al botón para añadir o quitar el estilo del head
                              button.addEventListener("click", function() {
                                // Obtener el valor actual de la cookie
                                var cookieValue = getCookie("dark-mode");
                                
                                // Invertir el valor de la cookie
                                var newCookieValue = cookieValue === "true" ? "false" : "true";
                                document.cookie = `dark-mode=${newCookieValue}; path=/`;
                                
                                // Aplicar el estilo correspondiente al nuevo valor de la cookie
                                if (newCookieValue === "true") {
                                  head.appendChild(style);
                                } else {
                                  head.removeChild(style);
                                }
                              });
                            
                              // Comprobar si la cookie dark-mode tiene el valor true al cargar la página
                              if (getCookie("dark-mode") == "true") {
                                // Añadir el estilo al head
                                head.appendChild(style);
                              }
                            </script-->
                        </div>                   
                    </li>
				        </ul>
				      <span class="nav-item">   
				        {% block header %}{% endblock %}
              </span>
           </div>
       </div> <!-- end of container -->
   </nav> <!-- end of navbar -->
 <!-- end of navigation -->
                    <!-- end of dropdown menu -->

 <!-- content login/regis -->
 {% block content %}{% endblock %}
<!-- end content -->

    <!-- Scripts -->
    
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script> <!-- Bootstrap framework -->
    <script src="{{url_for('static', filename='js/jquery.easing.min.js')}}"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="{{url_for('static', filename='js/swiper.min.js')}}"></script> <!-- Swiper for image and text sliders -->
    <script src="{{url_for('static', filename='js/jquery.magnific-popup.js')}}"></script> <!-- Magnific Popup for lightboxes -->
    <script src="{{url_for('static', filename='js/validator.min.js')}}"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="{{url_for('static', filename='js/scripts.js')}}"></script> <!-- Custom scripts -->
  
</body>
</html>
