
{% extends 'layout.html' %}

{% block title %}Contactar{% endblock %}


{% block content %}

    <div class="container mt-5">
      <div class="page-banner">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-md-6">
            <nav aria-label="Breadcrumb">
              <ul class="breadcrumb justify-content-center py-0 bg-transparent">
                <li class="breadcrumb-item"><a href="{{url_for('index')}}">Inicio</a></li>
                <li class="breadcrumb-item active">Contactar</li>
              </ul>
            </nav>
            <h1 class="text-center">Contactanos</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="page-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 py-3">
            <h2 class="title-section">Ponerse en contacto</h2>
            <div class="divider"></div>
            <p>Usted puede contactar con nosotros a travez de las siguientes vias.<br> Le responderemos lo mas pronto posible!</p>
  
            <ul class="contact-list">
              <li>
                <div class="icon"><span class="mai-map"></span></div>
                <div class="content">Algun lugar, Habana, Cuba</div>
              </li>
              <li>
                <div class="icon"><span class="mai-mail"></span></div>
                <div class="content"><a href="#">xxacrvxx@duck.com</a></div>
              </li>
              <li>
                <div class="icon"><span class="mai-phone-portrait"></span></div>
                <div class="content"><a href="#">t.me/xxacrvxx</a></div>
              </li>
            </ul>
          </div>
          <div class="col-lg-6 py-3">
            <div class="subhead">Contactanos</div>
            <h2 class="title-section">Escríbanos</h2>
            <div class="divider"></div>
            {% if response %}
            <div class="subhead">{{response}}</div>
            {% endif %}
            <form action="contact" method="post">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <div class="py-2">
                <input type="text" class="form-control" name="username" placeholder="Nombre completo">
              </div>
              <div class="py-2">
                <input type="email" class="form-control" name="email" placeholder="Correo electrónico">
              </div>
              <div class="py-2">
                <textarea rows="6" class="form-control" name="message" placeholder="Escriba el mensaje"></textarea>
              </div>
              <button type="submit" class="btn btn-primary rounded-pill mt-4">Enviar Mensage</button>
            </form>
          </div>
        </div>
      </div> <!-- .container -->
    </div> <!-- .page-section -->
  </main>

  {% endblock %}