
{% extends 'layout.html' %}

{% block title %}WEB DE xXACRVXx{% endblock %}


{% block content %}

<div class="page-section border-top">
  <div class="container">
    <div class="text-center wow fadeInUp">
      <div class="subhead">Blog</div>
      <h2 class="title-section">Lee nuestros post mas <span class="marked">recientes</span></h2>
      <div class="divider mx-auto"></div>
    </div>
    <div class="row my-5 card-blog-row">
      {% for post in recent %}
      <div class="col-md-6 col-lg-3 py-3 wow fadeInUp">
        <div class="card-blog">
          <div class="header">
            <div class="entry-footer">
              <div class="post-author">Por: {{ post['C_BY'] }}</div>
              <a href="#" class="post-date">{{ post['TIME'][:10]}}</a>
            </div>
          </div>
          <div class="body">
            <div class="post-title"><a href="{{ url_for('blogview', name=post['TITLE']) }}">{{ post['TITLE'] }}</a></div>
            <div class="post-excerpt">{{ post['EXTRA'] }}</div>
          </div>
          <div class="footer">
            <a href="{{ url_for('blogview', name=post['TITLE']) }}">Leer Mas <span class="mai-chevron-forward text-sm"></span></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="text-center">
      <a href="{{url_for('blog')}}" class="btn btn-outline-primary rounded-pill">Descuble Mas</a>
    </div>
  </div> <!-- .container -->
</div> <!-- .page-section -->

<div class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 py-3 wow fadeInLeft">
        <h2 class="title-section">Publicar nuevo contenido</h2>
        <div class="divider"></div>
        <p class="mb-5">Recientemente añadimos los blogs y queremos que cualquiera pueda publicar cosas en nuestra web, para hacerlo solo nesesita logearse</p>
        <a href="{{url_for('blogpost')}}" class="btn btn-primary">Nuevo post</a>
        <a href="{{url_for('blog')}}" class="btn btn-outline ml-2">Blog</a>
      </div>
      <div class="col-lg-6 py-3 wow fadeInRight">
        <h2 class="title-section">Descargar y subir archivos</h2>
        <div class="divider"></div>
        <p>Al crearte una cuenta en nuestra web tambien podras acceder a guardar tus archivos en nuestro servidor y poder descargarlos en otro dispositivo de forma facil y rapida o tambien para compartirlos con tus amigos,los archivos estan protegidos por nuestro servidor y solo estaran disponibles para las personas a las que les proporciones el link</p>
        <a href="{{url_for('download')}}" class="btn btn-primary">Descargar Archivos</a>
        <a href="{{url_for('upload')}}" class="btn btn-outline ml-2">Subir archivos</a>
      </div>
    </div>
  </div> <!-- .container -->
</div> <!-- .page-section -->

<div class="home-banner">
  <div class="container h-100">
    <div class="row align-items-center h-100">
      
      <div class="col-lg-6 py-3 wow fadeInUp">
        <h1 class="mb-4">Esta web sigue en desarrollo activo</h1>
        <p class="text-lg mb-5">
          No deberias estar viendo esto ahora mismo, 
          esta web apenas esta empezando a ser desarrollada, vuelve en un tiempo
        </p>
        <p class="text-lg mb-5">
          Si quieres probar las funciones disponibles hasta el momento
          puedes iniciar sesion y acceder a ellas
        </p>
      </div>

      <div class="col-lg-6 py-3 wow zoomIn text-center">
        <div class="img-place">
          <img src="{{url_for('static', filename='img/bg_image_1.png')}}" alt="xd">
        </div>
      </div>
    </div>
  </div>
</div>

  {% endblock %}