
{% extends 'layout.html' %}

{% block title %}Nuevo{% endblock %}


{% block content %}

    <div class="container mt-5">
      <div class="page-banner">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-md-6">
            <nav aria-label="Breadcrumb">
              <ul class="breadcrumb justify-content-center py-0 bg-transparent">
                <li class="breadcrumb-item"><a href="{{url_for('index')}}">Inicio</a></li>
                <li class="breadcrumb-item active">Nuevo</li>
              </ul>
            </nav>
            <h1 class="text-center">Nuevo</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="page-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 py-3 wow fadeInLeft">
            <h2 class="title-section">Publicar nuevo contenido</h2>
            <div class="divider"></div>
            <p class="mb-5">Recientemente añadimos los blogs y queremos que cualquiera pueda publicar cosas en nuestra web, para hacerlo solo nesesita logearse</p>
            <a href="#" class="btn btn-primary">Nuevo post</a>
            <a href="#" class="btn btn-outline ml-2">Iniciar sesion</a>
          </div>
          <div class="col-lg-6 py-3 wow zoomIn">
            <div class="img-place text-center">
              <img src="../assets/img/bg_image_3.png" alt="">
            </div>
          </div>
        </div>
      </div> <!-- .container -->
    </div> <!-- .page-section -->
  </main>

  {% endblock %}