
{% extends 'layout.html' %}

{% block title %}Privacidad{% endblock %}


{% block content %}

<div style="height:400px" class="page-banner home-banner">
  <div class="container h-100">
    <div class="row align-items-center h-100">
      
      <div class="col-lg-6 py-2 wow fadeInUp">
        <h1 class="mb-4">Politica de Privacidad</h1>
        <p class="text-lg mb-5">
          Esta política de privacidad se aplica a la web https://xxacrvxx.ydns.eu.
        </p>
      </div>

    </div>
  </div>
</div>


<main>
  <div class="page-section features">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-25 py-10">
          <div class="col-lg-11 py-3">
            <h1 class="mb-4">
              Información que recopilamos:
            </h1>
            <div class="center">
                <li>
                  <p class="mb-5">
                    Correo electrónico: Recopilamos tu correo electrónico para que puedas iniciar sesión en la web y guardar tus ajustes.                  
                  </p>
                  </li>
                <li>
                  <p class="mb-5">
                    Contraseña: Recopilamos tu contraseña para proteger tu cuenta y tus ajustes.
                  </p>
                </li>

                <p>
                  Política de Privacidad

Esta política de privacidad se aplica a la web https://xxacrvxx.ydns.eu.

Información que recopilamos:

    Correo electrónico: Recopilamos tu correo electrónico para que puedas iniciar sesión en la web y guardar tus ajustes.
    Contraseña: Recopilamos tu contraseña para proteger tu cuenta y tus ajustes.

Cómo usamos la información:

    Usamos tu correo electrónico para identificarte y enviarte notificaciones sobre los cambios en la web.
    Usamos tu contraseña para verificar tu identidad y proteger tu cuenta.

Cómo compartimos la información:

    No compartimos tu correo electrónico ni tu contraseña con nadie más.
    Los datos de los usuarios se almacenan en una base de datos segura.

Tus opciones:

    Puedes acceder a tu correo electrónico y contraseña en cualquier momento.
    Puedes solicitar que eliminemos tu correo electrónico y contraseña de nuestra base de datos.

Seguridad:

    Tomamos medidas de seguridad para proteger tu información.
    Utilizamos encriptación para proteger tu contraseña.
    Realizamos regularmente pruebas de seguridad para identificar y solucionar vulnerabilidades.

Cambios a esta política:

    Nos reservamos el derecho de cambiar esta política en cualquier momento.
    Te notificaremos de cualquier cambio a esta política por correo electrónico.

Contacto:

    Si tienes alguna pregunta sobre esta política, puedes contactarnos en [correo electrónico de contacto].

Esta política de privacidad se basa en la plantilla de Creative Commons Attribution-ShareAlike 4.0 International.
                </p>
            </div>
          
        </div>
      </div>
    </div>
  </div>
</main>


  {% endblock %}