
{% extends 'layout.html' %}

{% block title %}Privacidad{% endblock %}


{% block content %}

<div style="height:400px" class="page-banner home-banner">
  <div class="container h-100">
    <div class="row align-items-center h-100">
      
      <div class="col-lg-6 py-2 wow fadeInUp">
        <h1 class="mb-4">Politica de Privacidad</h1>
        <p class="text-lg mb-5">
          Esta política de privacidad se aplica a la web https://xxacrvxx.ydns.eu.
        </p>
      </div>

    </div>
  </div>
</div>


<main>
  <div class="page-section features">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-25 py-10">
          <div class="col-lg-11 py-3">
            <div>
              <h1 class="mb-4">
                Información que recopilamos:
              </h1>
            </div>    
                <h4 class="mb-2">
                  Correo electrónico: Recopilamos tu correo electrónico para que puedas iniciar sesión en la web y guardar tus ajustes.                  
                </h4>
                <h4 class="mb-2">
                  Contraseña: Recopilamos tu contraseña para proteger tu cuenta y tus ajustes.
                </h4>
            <div>
              <h1 class="mb-4">
                Cómo usamos la información:
              </h1>
            </div>
                <h4 class="mb-2">
                  Usamos tu correo electrónico para identificarte y enviarte notificaciones sobre los cambios en la web.
                </h4>
                <h4 class="mb-2">
                  Usamos tu contraseña para verificar tu identidad y proteger tu cuenta.
                </h4>
            <div>
              <h1 class="mb-4">
                Cómo compartimos la información:
              </h1>
            </div>
                <h4 class="mb-2">
                    No compartimos tu correo electrónico ni tu contraseña con nadie más.
                </h4>
                <h4 class="mb-2">
                    Los datos de los usuarios se almacenan en una base de datos segura.
                </h4>
            <div>
              <h1 class="mb-4">
                Tus opciones:
              </h1>
            </div>
                <h4 class="mb-2">
                    Puedes acceder a tu correo electrónico y contraseña en cualquier momento.
                </h4>
                <h4 class="mb-2">
                    Puedes solicitar que eliminemos tu correo electrónico y contraseña de nuestra base de datos.
                <h4 class="mb-2">
            <div>
              <h1 class="mb-4">
                Seguridad:
              </h1>
            </div>
                <h4 class="mb-2">
                  Tomamos medidas de seguridad para proteger tu información.
                </h4>
                <h4 class="mb-2">
                  Utilizamos encriptación para proteger tu contraseña.
                </h4>
                <h4 class="mb-2">
                  Realizamos regularmente pruebas de seguridad para identificar y solucionar vulnerabilidades.
                </h4>
            <div>
              <h1 class="mb-4">
                Cambios a esta política:
              </h1>
            </div>
                <h4 class="mb-2">
                  Nos reservamos el derecho de cambiar esta política en cualquier momento.
                </h4>
                <h4 class="mb-2">
                  Te notificaremos de cualquier cambio a esta política por correo electrónico.
                </h4>
            <div>
              <h1 class="mb-4">
                Contacto:
              </h1>
            </div>
              <h4 class="mb-2">
                  Si tienes alguna pregunta sobre esta política, puedes contactarnos en xxacrvxx@duck.com.
                </h4>
              </div>
            <div>
              <p>
                Esta política de privacidad se basa en la plantilla de Creative Commons Attribution-ShareAlike 4.0 International.
              </p>
            </div>
          
        </div>
      </div>
    </div>
  </div>
</main>


  {% endblock %}